$defaultCardBorderRadius: 5px;

$filterBubbleHeight: 30px;
$filterCountHeight: 35px;

$defaultSkeletonElementHigh: 20px;
$defaultSkeletonElementBorderRadius: 3px;
$bubbleBorderRadius: 3px;

$splitterBarWidth: 32px;
