@font-face {
	font-family: 'Open sans';
	font-weight: normal;
	src: url ('resources/fonts/open-sans-v15-latin-regular.woff')
}

@font-face {
	font-family: 'Open sans';
	font-weight: bold;
	src: url ('resources/fonts/open-sans-v15-latin-600.woff');
}
